body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.container{
  border: 2px solid black;
  min-height: 60px;
  width: 300px;
  display: flex;
  border-radius: 10px;  
}

.inputBox{
  height: 35px;
  width: 90%;
  margin: 10px;
  margin-top: 15px;
  border-radius: 7px;
}

.createAccount{
  height: 35px;
  width: 90%;
  margin: 10px;
  margin-top: 20%;
  border-radius: 7px;
  background-color: rgb(2, 79, 2);
}

.signIn{
  height: 35px;
  width: 90%;
  margin: 10px;
  margin-top: 1%;
  border-radius: 7px;

}

.login{
  margin-top: 12%;
  margin-left: 5%;
 
}

a{
  text-decoration: none;
}