body {
    background-color: red;
    font-weight: bold;
    font-size: xx-large;
}

.mainDiv {
    margin: 3%;
    /* background-color: blue; */
}

/* navigationBar */
.navBar {
    font-weight: 500;
}
.d-flex {
    /* margin-left: 40%; */
}
.collapse {
    margin-left: 25%;
}

.cartDiv {
    margin-right: 4%;
}