<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    Dominos
  </title>
  <link rel="stylesheet" href="../css/dominos.css">
</head>
<body>
 <div class="outerContainer">
  <div class="container-sm container">
    <img src="../images/Dominos/p1.jpg" class="rounded float-start" alt="no image found">
  </div>
  <div class="container-sm container">
    <img src="../images/Dominos/p2.jpg" class="rounded float-start" alt="no image found">

  </div>
  <div class="container-sm container">
    <img src="../images/Dominos/p3.jpg" class="rounded float-start" alt="no image found">

  </div>
  <div class="container-sm container">
    <img src="../images/Dominos/p4.jpg" class="rounded float-start" alt="no image found">

  </div>
  <div class="container-sm container">
    <img src="../images/Dominos/p5.jpg" class="rounded float-start" alt="no image found">

  </div>
  <div class="container-sm container">
    <img src="../images/Dominos/p6.jpg" class="rounded float-start" alt="no image found">

  </div>
  <div class="container-sm container">
    <img src="../images/Dominos/p7.jpg" class="rounded float-start" alt="no image found">

  </div>
 </div>


  </div>
</body>
</html>