<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous" />
  </head>
  <body>
    <div class="mainDiv">
      <!-- navigation-bar -->
      <div class="navBar">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="../images/logos/foodyLogo.png"
                alt="Logo"
                width="40"
                height="40"
                class="d-inline-block align-text-top" />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item me-5">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="#">Menu</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="#">Shop</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="#">Service</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link" href="#">Order</a>
                </li>
              </ul>
              <div></div>
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="search food items" />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>

              <div class="cartDiv">
                <button id="my-cart">
                  <img
                    src="../images/cart.png"
                    alt="cartImage"
                    width="40"
                    height="40"
                    class="d-inline-block align-text-top" />
                </button>
              </div>
              <div class="profileDiv">
                <button id="profileButton">
                  <img
                    src="../images/logos/userProfile.png"
                    alt="profileImage"
                    width="40"
                    height="40"
                    class="d-inline-block align-text-top" />
                </button>
                <div id="toggleBar" class="hidden">
                  <p>Profile Information</p>
                  <p>Settings</p>
                  <p>Log Out</p>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="d-lg-flex justify-content-between desc_and_image">
        <div class="description-left flex-lg">
          <h1>The Fastest Delivery in Your <span
              style="color: orangered;">City</span></h1>
          <p>Experience unmatched speed with our lightning-fast delivery
            service, bringing what you need right to your doorstep. From
            essentials to indulgences, we ensure every order reaches you in
            record time</p>
        </div>
        <div class="image-right flex-lg" style="background-color: red;">
          <img src="../images/pizza.jpg" alt="foodImg">
        </div>
      </div>

      <!-- food grids -->
      <h1>Food Items</h1>
      <div class="food-grid">
        <div class="food-item">
          <img src="../images/foods/image1.jpg" alt="Food 1">
          <div class="order-now">Order Now</div>
          <div class="food-name">Food Item 1</div>
        </div>
        <div class="food-item">
          <img src="../images/foods/image2.jpg" alt="Food 2">
          <div class="order-now">Order Now</div>
          <div class="food-name">Food Item 2</div>
        </div>
        <div class="food-item">
          <img src="../images/foods/image3.jpg" alt="Food 3">
          <div class="order-now">Order Now</div>
          <div class="food-name">Food Item 3</div>
        </div>
        <div class="food-item">
          <img src="../images/foods/image4.jpg" alt="Food 4">
          <div class="order-now">Order Now</div>
          <div class="food-name">Food Item 4</div>
        </div>
        <div class="food-item">
          <img src="../images/foods/image5.jpg" alt="Food 5">
          <div class="order-now">Order Now</div>
          <div class="food-name">Food Item 5</div>
        </div>
        <div class="food-item">
          <img src="../images/foods/image6.jpg" alt="Food 6">
          <div class="order-now">Order Now</div>
          <div class="food-name">Food Item 6</div>
        </div>
      </div>

      <!-- restaurant grids -->
      <h1>Restaurants</h1>
      <div class="restaurant-grid">
        <div class="restaurant-item">
          <img src="../images/restaurants/restaurant1.jpg" alt="Restaurant 1">
          <div class="order-now">Order Now</div>
          <div class="restaurant-name">Restaurant 1</div>
        </div>
        <div class="restaurant-item">
          <img src="../images/restaurants/restaurant2.jpg" alt="Restaurant 2">
          <div class="order-now">Order Now</div>
          <div class="restaurant-name">Restaurant 2</div>
        </div>
        <div class="restaurant-item">
          <img src="../images/restaurants/restaurant3.jpg" alt="Restaurant 3">
          <div class="order-now">Order Now</div>
          <div class="restaurant-name">Restaurant 3</div>
        </div>
        <div class="restaurant-item">
          <img src="../images/restaurants/restaurant4.jpg" alt="Restaurant 4">
          <div class="order-now">Order Now</div>
          <div class="restaurant-name">Restaurant 4</div>
        </div>
        <div class="restaurant-item">
          <img src="../images/restaurants/restaurant5.jpg" alt="Restaurant 4">
          <div class="order-now">Order Now</div>
          <div class="restaurant-name">Restaurant 5</div>
        </div>
        <div class="restaurant-item">
          <img src="../images/restaurants/restaurant6.jpg" alt="Restaurant 4">
          <div class="order-now">Order Now</div>
          <div class="restaurant-name">Restaurant 6</div>
        </div>
      </div>

    </div>

    <script src="../js/index.js"></script>
    <script src="../js/cartButton.js"></script>
  </body>
</html>
