<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Log In</title>
    <link rel="stylesheet" href="../css/logIn.css">
  </head>
  <body>
    <div class="container">

      <form action="/login" method="post" class="book">
        <header><h2 style="margin-left: 15px;">Login</h2></header>
        <input type="text" class="content input" placeholder="Phone"><br>
        <button type="submit" class="content password">Send One Time
          Password</button><br>
        <h3 class="or">or</h3>
        <button type="submit" class="content">📧 Continue with Email</button>
        <div class="google"><button ><img src="../images/logos/unnamed.png" alt="No image found"></button></div>
        <div><h3>
          New to foodyIndia?<a href="#createAccount"> Create account</a></h3></div>
      </form>
    </div>
  </body>
</html>